<div class="analytics">
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Students</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Average of Students</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>Maximum scored</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>Minimum scored</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>Grades between 0-5 </td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>Grades between 5-8</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>Grades between 8-10</td>
                        <td>74</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>
</div>